header {
    background-color: rgba(123, 0, 255, 0.584);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
img{
    justify-content: center;
    text-align: center;
}
body{
    background-color: #333;
    color:whitesmoke;
}
